---
layout: default
---

<h1>⛵ Sailing Log</h1>

<p>Welcome to my sailing logbook. Below is a list of recorded outings and passages.</p>

{% assign total_miles = 0 %}
{% for post in site.posts %}
  {% if post.miles %}
    {% assign total_miles = total_miles | plus: post.miles %}
  {% endif %}
{% endfor %}
{% assign total_miles_tidal = 0 %}
{% for post in site.posts %}
  {% if post.miles %}{% if post.tidal %}
    {% assign total_miles_tidal = total_miles_tidal | plus: post.miles %}
  {% endif %}{% endif %}
{% endfor %}
<p><strong>🗺️ Total Miles:</strong> {{ total_miles }} (tidal {{ total_miles_tidal }})</p>

{% assign total_days = 0 %}
{% for post in site.posts %}
  {% if post.days %}
    {% assign total_days = total_days | plus: post.days %}
  {% endif %}
{% endfor %}
{% assign total_days_tidal = 0 %}
{% for post in site.posts %}
  {% if post.days %}{% if post.tidal %}
    {% assign total_days_tidal = total_days_tidal | plus: post.days %}
  {% endif %}{% endif %}
{% endfor %}
<p><strong>🗓️ Total Days at Sea:</strong> {{ total_days }} (tidal {{ total_days_tidal }})</p>

{% assign hours_night = 0 %}
{% for post in site.posts %}
  {% if post.hours_night %}
    {% assign hours_night = hours_night | plus: post.hours_night %}
  {% endif %}
{% endfor %}
{% assign hours_night_tidal = 0 %}
{% for post in site.posts %}
  {% if post.hours_night %}{% if post.tidal %}
    {% assign hours_night_tidal = hours_night_tidal | plus: post.hours_night %}
  {% endif %}{% endif %}
{% endfor %}
<p><strong>🌙 Total night hours:</strong> {{ hours_night }} (tidal {{ hours_night_tidal }})</p>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>From</th>
      <th>Destination</th>
      <th>Nautical Miles</th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
    <tr>
      <td>{{ post.start | date: "%B %e, %Y" }}</td>
      <td><a href="{{ post.url }}">{{ post.title }}</a></td>
      <td>{{ post.origin | default: "-" }}</td>
      <td>{{ post.destination | default: "-" }}</td>
      <td>{{ post.miles | default: "-" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
